@font-face {
  font-family: 'Neue Montreal';
  src: url('fonts/NeueMontreal/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Neue Montreal', sans-serif;
}
